<div class="card h-100 shadow-sm">
  <img class="img-fluid bg-info" src="{{ product.pictureUrl }}" alt="{{ product.name }}" />
  <div class="card-body d-flex flex-column">
    <a href="#">
      <h5 class="text-uppercase">{{ product.name }}</h5>
    </a>
    <span class="mb-2">{{ product.price | currency }}</span>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary fa fa-shopping-cart mr-2">
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          View
        </button>
      </div>
  </div>
</div>
