<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top"
>
  <img
    [routerLink]="['/']"
    src="/assets/images/logo.png"
    style="max-height: 50px;"
    alt="logo"
    class="logo"
  />
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger">
    <a
      class="p-2 text-dark"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="p-2 text-dark" [routerLink]="['/shop']" routerLinkActive="active"
      >Shop</a
    >
    <a class="p-2 text-dark" [routerLink]="['/test-error']" routerLinkActive="active" >Error</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <i
        class="fa fa-shopping-cart fa-2x mr-5 text-dark"
        aria-hidden="true"
      ></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary mr-2 btn-sm" href="#">Login</a>
    <a class="btn btn-outline-secondary mr-3 btn-sm" href="#">Sign up</a>
  </div>
</div>
